@charset "utf-8";

/*全体的な装飾*/
body {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* ナビゲーションバーの全体装飾 */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 30;
  }

/*ナビゲーションバーが浮き上がっている仕上がり*/
div.head-bottom{
    display: inline-block;
}

div.wrap{
    /* clear: both; */
    margin-top: 100px;
    /* padding: 3px 0; */
    margin: 0 auto;
    /* padding-left: 10%; */
    /* padding-right:  10%; */
    /* position:absolute; */
    z-index: 20;
    background-color: rgba(51,153,255,0);
}

/*各大見出しの装飾*/
h1 {
    font-family: 'Bitter', serif;
    font-size: 50px;
    border-bottom: 1px solid #cccccc;
    padding-top: 100px;/*ナビバーと被らないように*/
    padding-left: 10%;
    padding-right:  10%;
}

/*h1.Profile{
    font-family: 'Bitter', serif;
    font-size: 50px;
    border-bottom: 1px solid #cccccc;
}*/

/*各中見出し装飾*/
h2 {
    font-family: 'Bitter', serif;
    font-size: 24px;
}

/*トップの全体装飾*/
div.Top{
     margin-bottom: auto;
     padding-top: 25%;
     margin-top:10%;
     margin-left: 10%;
}

/* div.background{
    background-image: url("/Users/minako_hori/git/portfolio/image/top3.png");
    background-repeat: no-repeat; 
    background-position: center top; 
    background-attachment: scroll;
    background-size:  50% auto; 
}

div.background:after {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    -moz-box-shadow: inset 0px 0px 50px 50px #fff;
    -webkit-box-shadow: inset 0px 0px 50px 50px #fff;
    box-shadow: inset 0px 0px 50px 50px #fff;
    content: " ";
} */

/*プロフィールの全体装飾*/
div.Profile{
    padding-left: 10%;
    padding-right:  10%;
    background-color: #ffffff;
    /* background-repeat: no-repeat; /*画像を繰り返さない*/
    /* background-position: center center; 画像の表示開始位置を指定 */
    /* background-attachment: fixed; 画像の表示位置を固定 */
    /* background-size: cover; */ 
}

/*プロフィール文装飾*/
#Profile.profile-txt{
    width: 540px;
    float: left;
}

/*プロフィール画像編集*/
img.Profile-image{
    width: 240px;
    height: 240px;
    float: left;
    border-radius: 20%;/*縁取り*/
    padding-right: 5px;
    z-index: 100;
}

/*プロフィールテキストの一部分を太文字に*/
#Profile.Profile-txt span{
    font-weight: bold;
}

/*プロフィールテキストの表示位置*/
.profile-text{
    margin-left: 300px;
}

/*回り込みを解除*/
.clearfix:after{
    content:"";
    display: block;
    clear: both;
}

/*セクション間の余白*/
section.career{
    margin-bottom: 35px;
    margin-top: 45px;
}

/*表の見出し部分の装飾*/
.career th{
    width: 240px;
    background-color: #60dfff;
    padding: 12px 0;
    border: 1px solid #cccccc;
    padding-left: 20px;
}

/*表のデータセル部分の横幅*/
.career td{
    width: 660px;
    background-color: #ffffff;
    padding: 12px 0 12px 40px;
    border: 1px solid #cccccc;
}

/*セルのあれこれ*/
table{
    border-spacing: 0;  /*隙間*/
    border-collapse: collapse;  /*罫線の表示方法を指定*/
}

/*ワークスの全体装飾*/
div.Works{
    background-repeat: no-repeat; /*画像を繰り返さない*/
    background-position: center center; /*画像の表示開始位置を指定*/
    background-attachment: fixed; /*画像の表示位置を固定*/
    background-size: cover;/*全体を囲うように表示*/
    padding-left: 10%;
    padding-right:  10%;
}
.container{
    max-width: 900px;
}

img.img-pre{
    width: 200px;
    height: 200px;
    object-fit: cover;
 }

.art-list .col-md-3{
    padding:10px 5% 10px 5%;
 }

 .effect-fade {
    opacity : 0;
    transform : translate(0, 45px);
    transition : all 1000ms;
    padding-bottom: 100px;
}

.effect-fade.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}

.pro-image {
    display: inline-block;
    vertical-align: middle;
    width:500px;
    height:500px;
 }
  
 .pro-image2{
   display: inline-block;
   vertical-align: middle;
   width:500px;
   height:500px;
 }

div.productions{
    padding-top: 5%;
}

div.contact{
    padding-left: 10%;
    padding-right:  10%;
}

.video{
    position:relative;
    width:100%;
    padding-top:56.25%;
  }
  .video iframe{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
  }