@charset "utf-8";

/*全体的な装飾*/
body {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* ナビゲーションバーの全体装飾 */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 30;
  }

/*ナビゲーションバーが浮き上がっている仕上がり*/
div.head-bottom{
    display: inline-block;
}

div.wrap{
    clear: both;
    margin-top: 100px;
    /* padding: 3px 0; */
    margin: 0 auto;
    padding-left: 10%;
    padding-right:  10%;
    /* position:absolute; */
    z-index: 20;
    background-color: rgba(51,153,255,0);
}

/*各大見出しの装飾*/
h1 {
    font-family: 'Bitter', serif;
    font-size: 50px;
    border-bottom: 1px solid #cccccc;
    padding-top: 100px;/*ナビバーと被らないように*/
}

/*h1.Profile{
    font-family: 'Bitter', serif;
    font-size: 50px;
    border-bottom: 1px solid #cccccc;
}*/

/*各中見出し装飾*/
h2 {
    font-family: 'Bitter', serif;
    font-size: 24px;
}

/*トップの全体装飾*/
div.Top{
    background-repeat: no-repeat; /*画像を繰り返さない*/
    background-position: center center; /*画像の表示開始位置を指定*/
    background-attachment: fixed; /*画像の表示位置を固定*/
    background-size: cover;
    /* opacity: 0.55; 55％不透明度(＝45％透過) */
    /* background-color: #ffffff; */
}

/*プロフィールの全体装飾*/
div.Profile{
    background-repeat: no-repeat; /*画像を繰り返さない*/
    background-position: center center; /*画像の表示開始位置を指定*/
    background-attachment: fixed; /*画像の表示位置を固定*/
    background-size: cover;
}

/*プロフィール文装飾*/
#Profile.profile-txt{
    width: 540px;
    float: left;
}

/*プロフィール画像編集*/
img.Profile-image{
    width: 240px;
    height: 240px;
    float: left;
    border-radius: 20%;/*縁取り*/
    padding-right: 5px;
    z-index: 100;
}

/*プロフィールテキストの一部分を太文字に*/
#Profile.Profile-txt span{
    font-weight: bold;
}

/*回り込みを解除*/
.clearfix:after{
    content:"";
    display: block;
    clear: both;
}

/*セクション間の余白*/
section.career{
    margin-bottom: 35px;
}

/*表の見出し部分の装飾*/
.career th{
    width: 240px;
    background-color: #f0f0f0;
    padding: 12px 0;
    border: 1px solid #cccccc;
}

/*表のデータセル部分の横幅*/
.career td{
    width: 660px;
    background-color: #ffffff;
    padding: 12px 0 12px 40px;
    border: 1px solid #cccccc;
}

/*セルのあれこれ*/
table{
    border-spacing: 0;  /*隙間*/
    border-collapse: collapse;  /*罫線の表示方法を指定*/
}

/*ワークスの全体装飾*/
div.Works{
    background-repeat: no-repeat; /*画像を繰り返さない*/
    background-position: center center; /*画像の表示開始位置を指定*/
    background-attachment: fixed; /*画像の表示位置を固定*/
    background-size: cover;/*全体を囲うように表示*/
}
.container{
    max-width: 900px;
}
img.img-pre{
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* padding-left: 10%; */
  /* padding-right: 10%; */
 }

.art-list .col-md-3{
     padding:10px 5% 10px 5%;
 }

 .effect-fade {
     opacity : 0;
    transform : translate(0, 45px);
    transition : all 1000ms;
    }
    
    .effect-fade.effect-scroll {
        opacity : 1;
        transform : translate(0, 0);
    }

    div.background{
        background-color: #39c1eb;
    
    }