@charset "utf-8";

/*全体的な装飾*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
}

/* ナビゲーションバーの全体装飾 */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 30;
  }

/*ナビゲーションバーが浮き上がっている仕上がり*/
div.head-bottom{
    display: inline-block;
}

div.wrap{
    margin: 100px auto;
    z-index: 20;
    background-color: rgba(51,153,255,0);
}

/*各大見出しの装飾*/
h1 {
    font-family: 'Bitter', serif;
    font-size: 50px;
    border-bottom: 2px solid #ffffff;
    /* padding-top: 100px;ナビバーと被らないように */
    padding-left: 10%;
    padding-right:  10%;
}

h1.Works{
    border-bottom: 2px solid rgb(247, 166, 179);
}

/*各中見出し装飾*/
h2 {
    font-family: 'Bitter', serif;
    font-size: 24px;
}

h2.Me{
    padding-bottom: .5em;
    border-bottom: 3px double #ccc;
}

h2.icon{
    padding-bottom: .5em;
    border-bottom: 3px double #ccc;
}

h2.illust{
    padding-bottom: .5em;
    border-bottom: 3px double rgb(141, 92, 100);
}

h2.product{
    padding-bottom: .5em;
    border-bottom: 3px double rgb(141, 92, 100);
}

/*トップの全体装飾*/
/* div.Top{ */
     /* margin-bottom: auto;
     padding-top: 10px;
     margin-top:10px;
     margin-left: 10%; */
/* } */

div.Top {/*親div*/
    position: relative;/*相対配置*/
}
  
.Top p {
    position: absolute;/*絶対配置*/
    color: black;/*文字は白に*/
    top: 0;
    left: 0;
    padding-left: 50px;
}

.top-img, .top-imd > img {
    margin: 0; padding: 0;
    border: 0;
}

.top-img {
    position: relative;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.top-img:after {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    -moz-box-shadow: inset 0px 0px 50px 50px #fff;
    -webkit-box-shadow: inset 0px 0px 50px 50px #fff;
    box-shadow: inset 0px 0px 50px 50px #fff;
    content: " ";
}

span.title{
    font-weight: bold;
    font-size: 100%;

}

div.profile-background{
    background-color: rgb(247, 166, 179);
    padding-bottom: 40px;
    padding-top: 20px;
}
/*プロフィールの全体装飾*/
div.Profile{
    padding-left: 10%;
    padding-right:  10%;
}

/*プロフィール文装飾*/
#Profile.profile-txt{
    width: 540px;
    float: left;
}

/*プロフィール画像編集*/
img.Profile-image{
    width: 240px;
    height: 240px;
    float: left;
    border-radius: 20%;/*縁取り*/
    padding-right: 5px;
    z-index: 100;
}

/*プロフィールテキストの一部分を太文字に*/
#Profile.Profile-txt span{
    font-weight: 900;
    font-size: 50px;
}

/*プロフィールテキストの表示位置*/
.profile-text{
    margin-left: 300px;
}

/* 回り込みを解除
.clearfix:after{
    content:"";
    display: block;
    clear: both;
} */

/*セクション間の余白*/
section.career{
    margin-bottom: 35px;
    margin-top: 45px;
}

/*表の見出し部分の装飾*/
.career th{
    width: 240px;
    background-color: #ffd6d6;
    padding: 12px 0;
    border: 1px solid #cccccc;
    padding-left: 20px;
}

/*表のデータセル部分の横幅*/
.career td{
    width: 660px;
    background-color: #ffffff;
    padding: 12px 0 12px 40px;
    border: 1px solid #cccccc;
}

/*セルのあれこれ*/
table{
    border-spacing: 0;  /*隙間*/
    border-collapse: collapse;  /*罫線の表示方法を指定*/
}

/*ワークスの全体装飾*/
div.Works{
    background-repeat: no-repeat; /*画像を繰り返さない*/
    background-position: center center; /*画像の表示開始位置を指定*/
    background-attachment: fixed; /*画像の表示位置を固定*/
    background-size: cover;/*全体を囲うように表示*/
    padding-left: 10%;
    padding-right:  10%;
}
.container{
    max-width: 900px;
}

img.img-pre{
    width: 200px;
    height: 200px;
    object-fit: cover;
 }

.art-list .col-md-3{
    padding:10px 5% 10px 5%;
 }

 .effect-fade {
    opacity : 0;
    transform : translate(0, 45px);
    transition : all 1500ms;
    padding-top: 100px;
}

.effect-fade.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}

.pro-image {
    display: inline-block;
    vertical-align: middle;
    width:500px;
    height:500px;
 }
  
 .pro-image2{
   display: inline-block;
   vertical-align: middle;
   width:500px;
   height:500px;
 }

div.productions{
    padding-top: 5%;
}

.video{
    position:relative;
    width:100%;
    padding-top:56.25%;
  }
  .video iframe{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
  }

  div.contact{
    padding-left: 10%;
    padding-right:  10%;
}

div.contact-background{
    background-color: rgb(247, 166, 179);
    padding-top: 20px;
    padding-bottom: 400px;
}